{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Config",
            "Controllers",
            "Database",
            "Views"
        ]
    },
    "logs": {
        "text": "infection.log",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true,
        "PublicVisibility": false,
        "MethodCallRemoval": false
    },
    "bootstrap":"./bootstrap.php"
}