{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Config",
            "Database",
            "Views"
        ]
    },
    "logs": {
        "text": "infection.log",
        "stryker": {
            "badge": "master"
        }
    },
    "mutators": {
        "@default": true,
        "PublicVisibility": false,
        "MethodCallRemoval": false,
        "ArrayItem": false,
        "ArrayItemRemoval": false
    },
    "bootstrap":"./bootstrap.php"
}