parameters:
    bootstrapFiles:
        - vendor/codeigniter4/framework/system/Test/bootstrap.php
    inferPrivatePropertyTypeFromConstructor: true
    excludePaths:
        - src/Config/*
        - src/Database/*
        - src/Views/*
    ignoreErrors:
        - '#Access to protected property [a-zA-Z0-9\\_]+Model::\$returnType.#'
        - '#Call to an undefined method Album\\Models\\TrackModel\:\:get\(\)#'

        -
            identifier: missingType.iterableValue

        -
            identifier: method.nonObject
            path: src/Infrastructure/Persistence/Track/SQLTrackRepository.php