includes:
        - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    bootstrap: phpstan-bootstrap.php
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    excludes_analyse:
        - src/Config/*
        - src/Database/*
        - src/Views/*
    ignoreErrors:
        - '#Access to protected property [a-zA-Z0-9\\_]+Model::\$returnType.#'
        - '#Method ([a-zA-Z0-9\\_]+)(Controllers)([a-zA-Z0-9\\_]+)(::)([a-zA-Z0-9]+)(\(\)) has no return typehint specified.#'
        - '#Call to an undefined static method Config\\Services::albumRepository()#'
        - '#Call to an undefined static method Config\\Services::trackRepository()#'
        - '#Call to protected method builder\(\) of class CodeIgniter\\Model.#'