<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" bootstrap="vendor/codeigniter4/framework/system/Test/bootstrap.php" colors="true" executionOrder="defects" cacheDirectory=".phpunit.cache">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory suffix=".php">./src/Config</directory>
      <directory suffix=".php">./src/Database</directory>
      <directory suffix=".php">./src/Views</directory>
    </exclude>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/logs/html"/>
      <php outputFile="build/logs/coverage.serialized"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="album">
      <directory>./test</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxHtml outputFile="build/logs/testdox.html"/>
    <testdoxText outputFile="build/logs/testdox.txt"/>
    <junit outputFile="build/logs/logfile.xml"/>
  </logging>
  <php>
    <server name="app.baseURL" value="http://localhost:8080"/>
    <const name="HOMEPATH" value="./"/>
    <const name="CONFIGPATH" value="./vendor/codeigniter4/framework/app/Config/"/>
    <const name="PUBLICPATH" value="./vendor/codeigniter4/framework/public/"/>
    <env name="database.tests.hostname" value="localhost"/>
    <env name="database.tests.database" value="ci4_crud_test"/>
    <env name="database.tests.username" value="root"/>
    <env name="database.tests.password" value=""/>
    <env name="database.tests.DBDriver" value="MySQLi"/>
    <env name="database.tests.DBPrefix" value=""/>
  </php>
</phpunit>
